.chartBox{
    width:700px;
    height:600px;
    margin-left:25%;
    margin-top:5rem;
  }
  div{
      display: flex;
     
      justify-content: space-around;
  }
  h2{
    text-align:center;
      color :#111111;
      margin-top:0;
  }
  .option{
   margin-right:8%;
   float: right;
  }